#navigation
  margin-left 1em
  margin-bottom 15px
  width 100%
  
  li
    display inline

    a
      text-decoration none
      display inline-block
      padding .8em
      margin 0
      color #333
      transition all .3s linear
      
      &:hover, &.active
        background #ddd
        box-shadow 0 0 3px rgba(0,0,0,.9)
        border-bottom-right-radius 5px
        border-bottom-left-radius 5px
      &:hover
        background rgba(235,235,235,.5)