body{
  font-size: 1.5em;
}

img, iframe.video-embed{
  max-width: 100%;
  box-sizing: border-box;
}

.article-subheader{
  font-size: 2rem;
  color: rgba(0,0,0,.4);
}

.navigation-list{
  list-style-type: none;
  margin: 20px 0 10px 0;
}

.navigation-list li{
  display: inline-block;
  margin-right: 10px;
}

.menu-opener{
  display: none;
}

@media (max-width: 550px) {
  .menu-opener{
    color: rgba(0,0,0,.7);
    display: inline-block;
    font-size: 24px;
    margin: 10px 0;
    border: 1px solid rgba(0,0,0,.3);
    padding: 4px 10px;
    border-radius: 5px;
  }

  .navigation-list{
    display: none;
    margin-bottom: 0;
    margin: 10px 0 0 0;
  }

  .navigation-list.visible{
    display: block;
  }

  .navigation-list li{
    display: block;
    margin-bottom: 5px;
  }

  .navigation-list li .button{
    margin-bottom: 5px;
  }
}