<nav>
  <ul class="navigation-list">
    <li><a href="/" {% if page.url == '/index.html' %} class="button button-primary" {% else %} class="button" {% endif %}>/</a></li>
    <li><a href="/blog" {% if page.url contains '/blog/' %} class="button button-primary" {% else %} class="button" {% endif %}>Blog</a></li>
    <li><a href="/talks" {% if page.url contains '/talks/' %} class="button button-primary" {% else %} class="button" {% endif %}>Talks</a></li>
    <!--li><a href="/projects" {% if page.url contains '/projects' or page.url contains '/project/' %} class="button button-primary" {% else %} class="button" {% endif %}>Projects</a></li-->
    <li><a href="/contact" {% if page.url contains '/contact' or page.url contains '/contact/' %} class="button button-primary" {% else %} class="button" {% endif %}>Contact</a></li>
  </ul>
  <div class="menu-opener">Menu</div>
</nav>