.index__nav {
  display: flex;
  flex-direction: row;
}

.index__navBtn {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: #007acc;
  margin-right: 1rem;
}

.index__navBtn:first-child {
  padding-left: 0;
}

.index__contentContainer {
  overflow: hidden;
}

.index__content {
  transition: transform 300ms ease-in-out;
}
