.Mentions {
  margin: 0;
  padding: 0;
}

.Mention, .Reference {
  display: flex;
  margin-bottom: 1.5em;
}

.Mention__authorImageLink, .Reference__authorImageLink {
  flex-shrink: 0;
  margin-right: 0.8em;
}

.Mention__image, .Reference__image {
  width: 60px;
  height: 60px;
  border-radius: 30%;
}

.Mention__authorLink {
  display: block;
  margin-bottom: 0.1em;
}

.Mention__content, .Reference__content {
  margin-bottom: 0.1em;
}

.Reference {
  align-items: center;
}

.Reference__image {
  background-image: linear-gradient(109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%);
}
