.reactNativeMGBook__bg {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(./assets/react-native-game-background-opacity.png);
  background-repeat: repeat;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
}
