<!doctype html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8" />
  <title>{{ page.title }} - janmonschke.com</title>
  <meta name="description" content="The private portfolio of Jan Monschke. JavaScript, CoffeeScript, Web Audio API, brunch, blog, CouchDB" />
  <meta name="author" content="Jan Monschke" />
  <meta name="google-site-verification" content="DIt15kNedGLODzo3iE20Tx6uJmyCLuJhQqTT_HE70ug" />
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for janmonschke.com" href="/rss.xml" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- CSS
  ================================================== -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/skeleton.css" />
  <link rel="stylesheet" href="/css/site.css" />

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/images/favicon.ico" />

</head>
<body>
  <div class="container">
    <div class="row">
      {% include navigation.html %}
    </div>
      {{ content }}
  </div>

  {% include google_analytics.html %}

  <script src="/js/site.js"></script>
<!-- End Document
================================================== -->
</body>
</html>
