---
layout : master
---
<!-- FORK ME BADGE -->
<!--a href="https://github.com/janmonschke/{{ page.repository_name }}"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a-->

<div class="row">
  <h1>{{ page.project_name }}</h1>
  <h5>Version {{ page.version }} - <a href="https://github.com/janmonschke/{{ page.repository_name }}">Repository on Github</a></h5>
  <hr />
  <article>
    {{ content }}
  </article>
</div>