/* Code blocks */
pre[class*='language-'] {
  font-size: 0.9em;
  overflow: auto;
  padding: 1rem;
  background: #f5f2f0a6;
  margin: 1.2em 0;
  border-radius: 0.25rem;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  font-size: 0.9em;
  border-radius: 0.3em;
  background: #f1f2f4;
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
  color: rgba(0, 0, 0, 0.8);
}

blockquote {
  font-size: 0.9em;
  border-color: #007acc;
  border-width: 0.3em;
}
