---
pagination:
  data: allCities
  size: 1
  alias: cityId
permalink: "cafes/{{ cityId }}/"
layout: layouts/base.webc
eleventyComputed:
  title: "Cafe recommendations in {{ allCities[cityId].name }}"
---

{% set city = allCities[cityId] %}

<h2>{{ city.name }}</h2>

<script>window.__cafes = {{ city.cafes | dump | safe }}</script>

{% renderTemplate "webc" %}
<coffee-map></coffee-map>
{% endrenderTemplate %}

<ul>
{% for cafe in city.cafes %}
  <li>
    <h3>{{ cafe.name }}</h3>

    {% if cafe.note %}
      <blockquote>{{cafe.note}}</blockquote>
    {% endif %}

    {% if cafe.address %}
      <div>{{ cafe.address }}</div>
    {% endif %}

    {% if cafe.links and cafe.links.length %}
      <div>
        {% for link in cafe.links %}
          {% if link.type == "google_maps" %}
            <a href="{{ link.link }}">Google Maps</a>
          {% elif link.type == "instagram" %}
            <a href="{{ link.link }}">Instagram</a>
          {% else %}
            <a href="{{ link.link }}">{{ link.type }}</a>
          {% endif %}
          {% if not loop.last %} | {% endif %}
        {% endfor %}
      <div>
    {% endif %}
  </li>
{% endfor %}
</ul>

<p><a href="/cafes">Back to cafe city list</a></p>
