---
pagination:
  data: cafes.cities
  size: 1
  alias: cityId
permalink: "cafes/{{ cityId }}/"
layout: layouts/base.webc
eleventyComputed:
  title: "Cafe recommendations in {{ cafes.cities[cityId].name }}"
---

{% set city = cafes.cities[cityId] %}

<h2>{{ city.name }}</h2>

<script>window.__cafes = {{ city.cafes | dump | safe }}</script>

{% renderTemplate "webc" %}
<coffee-map></coffee-map>
{% endrenderTemplate %}

<ul>
{% for cafe in city.cafes %}
  <li>
    <h3>{{ cafe.name }}</h3>
    {% if cafe.address %}
      <p>{{ cafe.address }}</p>
    {% endif %}
    {% if cafe.links and cafe.links.length %}
      <p>
        {% for link in cafe.links %}
          {% if link.type == "google_maps" %}
            <a href="{{ link.link }}">Google Maps</a>
          {% elif link.type == "instagram" %}
            <a href="{{ link.link }}">Instagram</a>
          {% else %}
            <a href="{{ link.link }}">{{ link.type }}</a>
          {% endif %}
          {% if not loop.last %} | {% endif %}
        {% endfor %}
      </p>
    {% endif %}
  </li>
{% endfor %}
</ul>

<p><a href="/cafes">Back to cafe city list</a></p>
